@font-face {
    font-family: 'Dolbomche_B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/Dolbomche_B.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

.header{
    width: 100%;
    height: 81px;
    display: flex;
    margin: auto;
}

.logo{
    font-family: Dolbomche_B;
    font-size: 36px;
    /*font-weight: bold;*/
    line-height: 81px;
    margin-left: 40px;
    cursor: pointer;
    width: 100px;
}

.account{
    display: flex;
    width: calc(100% - 140px);
    justify-content: flex-end;
    line-height: 81px;
    margin-right: 40px;
}

.account > li{
    margin-left: 25px;
}

.header > ul > .my_lecture > a{
    border-radius: 15px;
    background: #f5f5f5;
    color: #666;
    font-weight: bolder;
    /*word-spacing: 0px;*/
    letter-spacing: 0px;
    padding: 3px 6px;
}

.header > ul > li > a{
    color: #010101;
    font-weight: bolder;
}

.search_container{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding-bottom: 53px;
}

#content{
    width: calc(252px + 828px);
    display: flex;
    margin: auto;
}

.search_category{
    position: sticky;
    width: 252px;
    margin-top: 96px;
}

.menu{
    width: 240px;
    overflow: hidden;
    position: fixed;
    padding-top: 20px;
}

.menu > li {
    width: 100%;
    line-height: 48px;
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
}

.menu > li > a{
    padding-left: 20px;
    color: #666;
    font-weight: bolder;
}

.submenu > li{
    line-height: 48px;
    background-color: #fafafa;
}

.submenu > li > a{
    padding-left: 20px;
    color: #96a0aa;
    font-weight: bolder;
}

.submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
}

.menu > li:hover {
    background-color: #96a0aa;
    color: #fff;
    transition-duration: 0.5s;
}

.menu > li:hover .submenu {
    height: 240px; /*서브메뉴 li한개의 높이 48*5*/
    transition-duration: 1s;
}

.search_print{
    width: 828px;
    margin-left: 12px;
}

.search_area{
    width: 804px;
    padding-left: 12px;
    height: 96px;
    display: flex;
    margin-bottom: 12px;
}

.search_area > div{
    width: 100%;
    height: 48px;
    margin-top: 24px;
    border-bottom: 1px solid #666666;
}

.search_area > div > input{
    width: calc(100% - 48px);
    height: 48px;
    padding-left: 17px;
    font-size: 16px;
    border: none;
    background: rgba(0,0,0,0.0);
}

.search_area > div > input:focus{
    outline: none;
}

.search_area > div > button{
    border: none;
    background-color: rgba(0,0,0,0.0);
    cursor: pointer;
    padding-left: 8px;
}

.search_area > div > button >i{
    font-size: 24px;
    font-weight: lighter;
    color: grey;
}

.search_lecture_list_area > div{
    padding-left: 12px;
    margin-bottom: 16px;
}

.search_lecture_list_title > h2{
    font-weight: bolder;
}

.search_lecture_list > div{
    display: flex;
    width: 804px;
    margin: 0 12px 26px;
}

.search_lecture_list > div > li:not(:last-child){
    margin-right: 23px;
}

.search_lecture_list > div > li > div{
    width: 252px;
    height: 308px;
    background-color: #fff;
}

.search_lecture_list > div > li > div > span{
    display: block;
    width: 100%;
    height: 138px;
    background-color: #1F1F1F;
}

.search_lecture_list > div > li > div > span > img{
    width: 100%;
    max-height: 138px;
    vertical-align: top;
}

.search_lecture_list > div > li > div > dl{
    height: 133px;
    max-height: 133px;
    padding: 15px 16px;
    box-sizing: border-box;
    position: relative;
}

.search_lecture_list > div > li > div > dl > dt{
    line-height: 20px;
    max-height: 42px;
    letter-spacing: 0px;
    font-weight: bold;
    color: #333;
}

.search_lecture_list > div > li > div > dl > dd{
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 9px;
    line-height: 15px;
    font-size: 12px;
    letter-spacing: -.5px;
}

.search_lecture_list > div > li > div > dl > dd > div{
    color: #666;
    font-weight: bold;
    height: 15px;
}

.search_lecture_list > div > li > div > dl > dd > p{
    color: #999;
    margin-top: 2px;
    height: 15px;
}

.search_lecture_list > div > li > div > dl > dd > p > span{
    float: left;
    margin-right: 5px;
    color: darkgray;
    font-weight: bold;
}

.search_lecture_list > div > li > div > dl > dd > p > span:last-child::before{
    content: "|";
    padding-right: 5px;
    color: lightgray;
}

.search_lecture_list > div > li > div > div{
    display: flex;
    margin: 0 16px;
}

.search_lecture_list > div > li > div > div > div{
    width: 67px;
}

.search_lecture_list > div > li > div > div > div > img{
    width: 12px;
    height: 12px;
    color: #f5f5f5;
    vertical-align: middle;
}

.search_lecture_list > div > li > div > div > div > span{
    font-size: 12px;
    vertical-align: middle;
}

.search_more_area{
    width: 804px;
    height: 42px;
    margin: 0 0 12px 12px;
    text-align: center;
}

.search_more_area > button{
    font-size: 16px;
    font-weight: bold;
    line-height: 42px;
    border: none;
    letter-spacing: -.5px;
    background-color: rgba(0,0,0,0.0);
    cursor: pointer;
}

.search_more_area > button > span{
    color: #666;
    font-size: 15px;
}

.search_more_area > button:after{
    font-family: "FontAwesome";
    content: "\f107";
    font-size: larger;
}

.search_print > .btn_top{
    width: 73px;
    height: 42px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    text-align: center;
    line-height: 42px;
    float: right;
    margin-right: 12px;
    cursor: pointer;
    color: #666;
    font-size: 16px;
    font-weight: bolder;
}

footer{
    display: flex;
    background: #1F1F1F;
    padding: 30px;
}

footer > div:first-child{
    flex:3;
    text-align: center;
    color: #fff;
    font-size: 48px;
    margin: auto;
}

footer > div:last-child{
    flex:9;
    color: #fff;
}
